
/**** index page ****/
.anchor {
	padding-top:50px;
}

/*** Common properties ****/
body {
	margin:0;
  	position:relative;
}
.header h1 {
  	text-align:center;
  	font-size:6em;
  	color:#000000;
}
.box{
  	padding:20px;
  	margin-top:20px;
}

/**** about page ****/
.Intro p {
  	font-family:Futura,Helvetica,Arial,sans-serif;
  	font-size:1.5em;
  	font-weight:100;
  	-webkit-margin-before:0;
}

.skills{
	background-color:#5AD4C2;
}

* {
	box-sizing:border-box;
}

h1,
h2,
h3 {
  	font-family:Futura, Helvetica, Arial, sans-serif;
}

/**** work page ****/

.img-responsive {
  	display:block;
  	max-width:100%;
  	height:auto;
  	margin-bottom:15px;
}

/**** contact page ****/
#contact{
  	background-image: url("../img/andrew.jpg");
  	/*Add a background image*/
  	background-attachment:fixed;
  	/*Give the background a fixed position does it not scroll when you scroll*/
  	background-size:cover;
  	/*Have the background cover the entire div section*/
  	color:white;
  	/*Change the color of the text on top so it is readable and adjust the padding as needed.*/
  	padding:50px;
  	padding-top:25px;
  	width:inherit;
  	height:auto;
}


.first h1{
  	margin-top:12%;
	text-transform:uppercase;
	font-family:'gt_walsheim_medium';
	font-size:2.5em;
	line-height:46px;
	letter-spacing:0.09em;
	font-weight:900;
}
.contact-h1,.contact-h2,.contact-p{
	color:#1d1d1b;
	font-family:'Raleway',sans-serif;;
	font-weight:100;
	padding:0;
	margin:0;
}
.contactInformation p{
	width:100%;
	display:block;
}
.contactInformation a{
	font-size:1em;
	text-transform:uppercase;
	font-weight:700;
	color:#000;
	text-decoration:none;
}
.contactInformation {
  	width:90%;
  	opacity:.85;
  	padding:10px;
}

.contactInformation a:hover{
	font-size:1.1em;
	color:red;
}
.form-control{
  	width:80%;
}


input[type=text],input[type=tel], input[type=email], select, textarea {
  	width:100%;
  	padding:12px;
  	border:1px solid #ccc;
  	border-radius:4px;
  	box-sizing:border-box;
  	margin-top:6px;
  	margin-bottom:16px;
  	resize:vertical;
  	color:black;
}
button[type=submit] {
  	background-color:#000;
  	color:white;
  	padding:12px 20px;
  	border:none;
  	border-radius:10px;
  	cursor:pointer;
}

button[type=submit]:hover {
  	background-color:#4CAF50;
}

label{
  	color:black;
}
.say{
  	margin-top:6%;
  	font-size:2.5em;
  	color:black;
  	text-transform:uppercase;
}

#map{
	height: 200px;
	width:100%;
}

/**** faq page ****/
.container .panel-group .panel .panel-heading .glyphiconA a{
	float:right;
}
.carousel {
	margin-left:-15px;
  	margin-right:-15px;
}
.learnMore {
	text-align:left;
  	float:left;
}
.modelButton {
  	float:right;
  	padding:15px;
}
#modalembed {
  	height:700px;
  	width:100%;
  	padding:0 15% 0 15%;
}

/**** navbar css ****/
.navbar{
  	z-index:100;
}
.projectName {
  	text-transform:uppercase;
}
.projectName a {
  	color:white;
}
.projectName a img{
	width:30px;
	height:30px;
}


/**** footer css ****/
.bg-4 {
  	background-color:#256874;
  	color:#ffffff;
}

.bg-4 .video {
  	margin-top:10px;
  	margin-bottom:15px;
}

.bg-4 .copyright{
  	margin-top:10px;
  	margin-bottom:10px;
}

/* Large desktop */
@media (min-width:1200px)
{ ... }

/* Portrait tablet to landscape and desktop */
@media (min-width:768px) and (max-width:979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width:767px) {
	.contactInformation a{
    		font-size:1em;
  	}
  	.contactInformation a:hover{
    		font-size:1.1em;
    		color:red;
  	}
}

/* Landscape phones and down */
@media (max-width:480px) {
  	.first h1{
    		font-size:2.2em;
  	}
  	.contact-h2 {
    		font-size:1.2em;
  	}
  	.contactInformation a{
    		font-size:0.80em;
  	}
  	.contactInformation a:hover{
    		font-size:0.85em;
    		color:red;
 	}
}

.work-img{
	display:block;
	margin:auto;
	max width:200px;
}
.info{
	position:absolute;
	top:15%;
	left:22%;
	color:#fff;
	font-family: Futura, helvetica;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:0.5em;
	line-height:1.6;
	display: none;
}
.proj-title{
	font-weight:100;
}
